body.container {
    width: 90%;
}
header, footer {
    background-color: #2a2a2a;
    padding: 1em;
    text-align: center;
    color: white;
    clear: left;
}
body {
    background-color: #d3d3d3;
    font-family: helvetica;
    color: #2a2a2a;
}
table {
    border: 2px solid #2a2a2a;
    width: 50%;
    border-collapse: collapse;
    text-align: left;
}
th, td {
    border: 1px solid #2a2a2a;
    padding: 2px 2px 2px 10px;
}
.fancy {
    font-size: 18px;
    width: 50%;
}
a {
    color: #b75862;
    text-decoration: none;
}
div.images {
    width: 50%;
    padding-top: 10px;
}
#dateTime {
    color: red;
}
.button {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.hover:hover {
    background-color: deeppink
}